
# Langchain files 
langchain
langchain-core
langchain-community

# Api modls 
langchain-openai
langchain-azure-ai
langchain-google-genai
deepagents

# Vector Databse 
chromadb
tiktoken 
langchain-redis
langchain-weaviate
pydantic

# redundant
openai
google-genai

# azure 

azure-storage-blob
azure-ai-documentintelligence
azure-identity
azure-core

# utils 
tqdm 